#
# Bluetooth NimBLE
#
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y

#
# NimBLE Options
#
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_INTERNAL=y
CONFIG_BT_NIMBLE_LOG_LEVEL_ERROR=y

CONFIG_BT_NIMBLE_MAX_CONNECTIONS=3
CONFIG_BT_NIMBLE_MAX_BONDS=3
CONFIG_BT_NIMBLE_MAX_CCCDS=8
CONFIG_BT_NIMBLE_HOST_TASK_STACK_SIZE=5120
#CONFIG_BT_NIMBLE_ROLE_CENTRAL=y
#CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
#CONFIG_BT_NIMBLE_ROLE_BROADCASTER=y
#CONFIG_BT_NIMBLE_ROLE_OBSERVER=y
#CONFIG_BT_NIMBLE_GATT_CLIENT=y
#CONFIG_BT_NIMBLE_GATT_SERVER=y
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=256
CONFIG_BT_NIMBLE_ATT_MAX_PREP_ENTRIES=64
CONFIG_BT_NIMBLE_WHITELIST_SIZE=12
CONFIG_BT_NIMBLE_RPA_TIMEOUT=900
CONFIG_BT_NIMBLE_SECURITY_ENABLE=y
CONFIG_BT_NIMBLE_SM_LEGACY=y
CONFIG_BT_NIMBLE_SM_SC=y

#note
CONFIG_BT_NIMBLE_DYNAMIC_SERVICE=y 
CONFIG_BT_NIMBLE_CRYPTO_STACK_MBEDTLS=y
CONFIG_BT_NIMBLE_USE_ESP_TIMER=y
CONFIG_BT_NIMBLE_HS_STOP_TIMEOUT_MS=2000

#CONFIG_BT_NIMBLE_EXT_SCAN=y
#CONFIG_BT_NIMBLE_ENABLE_PERIODIC_SYNC=y
#CONFIG_BT_NIMBLE_MAX_PERIODIC_SYNCS=0
#CONFIG_BT_NIMBLE_GAP_SERVICE=y

# NimBLE memory pools (tuned for IoT) , BLE mesh not use
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_COUNT=48
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_SIZE=256
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_COUNT=24
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_SIZE=320
CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=24
CONFIG_BT_NIMBLE_TRANSPORT_ACL_SIZE=255
CONFIG_BT_NIMBLE_TRANSPORT_EVT_SIZE=70
CONFIG_BT_NIMBLE_TRANSPORT_EVT_COUNT=30
CONFIG_BT_NIMBLE_TRANSPORT_EVT_DISCARD_COUNT=8
CONFIG_BT_ALARM_MAX_NUM=50


#
# Bluetooth mesh
#
CONFIG_BLE_MESH=y
CONFIG_BLE_MESH_HCI_5_0=y
CONFIG_BLE_MESH_V11_SUPPORT=y
CONFIG_BLE_MESH_USE_DUPLICATE_SCAN=y
CONFIG_BLE_MESH_MEM_ALLOC_MODE_INTERNAL=y
CONFIG_BLE_MESH_DEINIT=y

CONFIG_BLE_MESH_TX_SEG_MSG_COUNT=3
CONFIG_BLE_MESH_RX_SEG_MSG_COUNT=3
CONFIG_BLE_MESH_RX_SDU_MAX=384
CONFIG_BLE_MESH_TX_SEG_MAX=32

# Mesh NODE
CONFIG_BLE_MESH_NODE=y
CONFIG_BLE_MESH_PROVISIONER=n

# Support provisioning
CONFIG_BLE_MESH_PROV=y
CONFIG_BLE_MESH_PROV_EPA=y

# Support PB_ADV
CONFIG_BLE_MESH_PB_ADV=y
CONFIG_BLE_MESH_UNPROVISIONED_BEACON_INTERVAL=5
CONFIG_BLE_MESH_PB_GATT=y
CONFIG_BLE_MESH_PROXY=y
CONFIG_BLE_MESH_GATT_PROXY_SERVER=y
CONFIG_BLE_MESH_NODE_ID_TIMEOUT=60
CONFIG_BLE_MESH_PROXY_FILTER_SIZE=4

# Store BLE mesh configuration
CONFIG_BLE_MESH_SETTINGS=y
CONFIG_BLE_MESH_STORE_TIMEOUT=3
CONFIG_BLE_MESH_SEQ_STORE_RATE=1000
CONFIG_BLE_MESH_RPL_STORE_TIMEOUT=10

# Relay node
CONFIG_BLE_MESH_RELAY=y
CONFIG_BLE_MESH_LOW_POWER=n
CONFIG_BLE_MESH_FRIEND=n


CONFIG_BLE_MESH_SCENE_CLI=y
CONFIG_BLE_MESH_SENSOR_SERVER=y
#
# Support for BLE Mesh Foundation models
#
CONFIG_BLE_MESH_HEALTH_SRV=y

#
# Support for BLE Mesh Client/Server models
#
CONFIG_BLE_MESH_GENERIC_SERVER=y
CONFIG_BLE_MESH_TIME_SCENE_SERVER=y
CONFIG_BLE_MESH_LIGHTING_SERVER=n



# Flash size for esp32c3
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Config partion table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y