#
# Bluetooth BLuedroid
#
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y

#
# Bluedroid Options
#
#CONFIG_BT_BTC_TASK_STACK_SIZE=3072
#CONFIG_BT_BLUEDROID_PINNED_TO_CORE=0
#CONFIG_BT_BTU_TASK_STACK_SIZE=4512
#CONFIG_BT_BLUEDROID_ESP_COEX_VSC=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_GATTS_ENABLE=y
#CONFIG_BT_GATT_MAX_SR_PROFILES=8
#CONFIG_BT_GATT_MAX_SR_ATTRIBUTES=100
CONFIG_BT_GATTS_SEND_SERVICE_CHANGE_MANUAL=y
#CONFIG_BT_GATTS_SEND_SERVICE_CHANGE_MODE=0
CONFIG_BT_BLE_SMP_ENABLE=y
#CONFIG_BT_BLE_SMP_BOND_NVS_FLASH=y

#Enable BLE 4_2
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BT_BLE_50_FEATURES_SUPPORTED=n

#
# Bluetooth mesh
#
CONFIG_BLE_MESH=y
CONFIG_BLE_MESH_USE_DUPLICATE_SCAN=y
CONFIG_BLE_MESH_DEINIT=y

# Mesh NODE
CONFIG_BLE_MESH_NODE=y
CONFIG_BLE_MESH_PROVISIONER=n

# Support provisioning
CONFIG_BLE_MESH_PROV=y
CONFIG_BLE_MESH_PROV_EPA=y

# Support PB_ADV
CONFIG_BLE_MESH_PB_ADV=y
CONFIG_BLE_MESH_UNPROVISIONED_BEACON_INTERVAL=5
CONFIG_BLE_MESH_PB_GATT=y
CONFIG_BLE_MESH_PROXY=y
CONFIG_BLE_MESH_GATT_PROXY_SERVER=y
CONFIG_BLE_MESH_NODE_ID_TIMEOUT=60
CONFIG_BLE_MESH_PROXY_FILTER_SIZE=4

# Store BLE mesh configuration
CONFIG_BLE_MESH_SETTINGS=y
CONFIG_BLE_MESH_STORE_TIMEOUT=3
CONFIG_BLE_MESH_SEQ_STORE_RATE=1000
CONFIG_BLE_MESH_RPL_STORE_TIMEOUT=10

# Relay node
CONFIG_BLE_MESH_RELAY=y
CONFIG_BLE_MESH_LOW_POWER=n
CONFIG_BLE_MESH_FRIEND=n

#
# Support for BLE Mesh Foundation models
#
CONFIG_BLE_MESH_HEALTH_SRV=y

#
# Support for BLE Mesh Client/Server models
#
CONFIG_BLE_MESH_GENERIC_SERVER=y
CONFIG_BLE_MESH_TIME_SCENE_SERVER=y
CONFIG_BLE_MESH_LIGHTING_SERVER=n



# Flash size for esp32c3
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Config partion table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y